
    // reset
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    // main
    
    body , html {
        font-size: 16px;
        background-color: rgb(250, 250, 250);
        color: #fff;
    }
    
    // containerPage
    
    .register-container{
        overflow: hidden;
        padding: 16px 32px;
        background-color: rgb(96, 96, 175);
        text-align: center;
        justify-content: space-between;
        width: 100vw;
        height: 100vh;
    
        // main containers
        &__header{
            display: grid;
            place-items: center;
            height: calc(50% - 75px );
        }
    
        &__main {
            display: grid;
            place-items: center;
            height: calc(50% - 75px );
            margin-bottom: 20px;
        }
        &__footer{
            height:70px;
        }
    
        &__logo{
        font-size: 5rem;
        text-decoration: none;
        color: white;
        }
    
        &__container-btn{
            display: flex;
            gap: 10px;
            justify-content: center;
    
        }
    
        &__btn{
            padding: 10px 20px;
            width: 150px;
            height: 50px;
            border-radius: 10px;
            cursor: pointer;
            
            &:active{
                background-color: rgb(15, 13, 15);
                color: #fff;
            }
        }
    }