.menu{
    width: 20rem;
    height: auto;
    border: 0.1rem solid black;
    &__course{
        width: 13rem;
        height: auto;
        border: 0.1rem solid black;
        &__detail{
            width: auto;
            height: auto;
            border: 0.1rem solid black;
            display: flex;
            flex-direction: row;
            gap: 5px;
        }
        &__image{
            width: 10rem;
            height: 10rem;
            border: 0.1rem solid black;
        }
    }
}



.activeOrders{
    width: 30rem;
    height: auto;
    border: 0.1rem solid black;
    position: absolute;
    top: 20rem;
    left: 31rem;
    &__order{
        color: red;
    }
}