.menu{
    width: 30rem;
    height: auto;
    border: 0.1rem solid black;
}

.course{
    width: 10rem;
    height: 10rem;
    border: 0.1rem solid black; 
}

.activeOrders{
    width: 30rem;
    height: auto;
    border: 0.1rem solid black;
    position: absolute;
    top: 7rem;
    left: 31rem;
    &__order{
        color: red;
    }
}