* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding-top: 35px;
    width: 100vw;
    height: 100vh;
    margin: 0;
    position: relative;
background-image: url("./../img/background.jpg");
background-position: center;
background-repeat: repeat;
background-size: cover;
}

.container-customer {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin: 0;


    &__title {
       width: 100%;
        font-size: 3em;
        margin-bottom: 15px;
        color: rgb(255, 255, 255);

    }

    &__searchBox {
        padding: 7px 14px;
        width: 70%;
        margin: auto;
        border: none;
        border-radius: 15px;
        font-size: 1.5rem;
        background-color: rgb(248, 248, 248);
        color: white;
    }


    &__restaurant-root {
        margin-top: 30px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 25px;
        text-align: center;
        flex-wrap: wrap;
    }

    &__restaurant-card {
        overflow: hidden;
        background:linear-gradient(45deg, rgba(0, 0, 0, 0.829) , rgba(255, 255, 255, 0.733));
        width: 200px;
        border: 1px solid black;
        border-radius: 15px;
        font-size: 1.5rem;
        margin-top: 0.7rem;
        
        p{
            margin-left: 20px;
            margin-bottom: 10px;
            text-align: start;
            font-size: 1.2rem;
            color:white
        }
    }

    &__title-restaurant {
        text-transform: uppercase;
        text-decoration: underline;
        color:#fb7e09;
        margin: 5px;
        font-size: 1.5rem;
    }

    &__img-restaurant {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-bottom: 2px rgba(233, 190, 1, 0.767) solid;
    }

    &__btn-restaurant {
        font-weight: 700;
        background-color: sandybrown;
        text-transform: uppercase;
        cursor: pointer;
        margin: 10px;
        outline: none;
        border-radius: 15px;
        border: none;
        padding: 7px 14px;

        &:hover {
            scale: 1.09;
        }
    }


    &__menu {
        display: none;
        border-radius: 15px;
        background-color: rgb(155, 141, 141);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80vw;
        height: 80vh;
    
    }
    &__menu-close{
        cursor: pointer;
        position: absolute;
        right: 15px;
        top: 0px;
        font-size: 2rem;
        background-color: inherit;
        border: none;
        &:hover{
            color: white;
        }
    }

    &__container-courses{
        padding: 20px;
        width: 100%;
        height: 100%;
        background-color: darkgray;
            display: flex;
            flex-wrap: wrap;
            gap: 15px;

    }
    &__courses-card{
        position: relative;
        border-radius: 15px;
        cursor: pointer;
        width: 150px;
        background-color: rgba(24, 24, 24, 0.418);
        height: 290px;

        &:hover{
            scale: 1.05;
        }
    }
    &__courses-img{
        width: 150px;
        height: 150px;
        object-fit: cover;
    }
    &__courses-card-name{
        font-size: 20px;
        font-weight: 700;
        text-transform: capitalize;
    }

    &__courses-des{
        margin: 5px;
    }
    &__courses-btn{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 15px;
        padding: 10px;

        width: 50px;
        cursor: pointer;
        border: none;
        outline: none;
        background-color: #6c6c6c;


        i{
            font-size: 1.4rem;
            color: rgb(19, 14, 14);
            &:hover{
                color: rgb(199, 196, 196);
                    }
        }
    }
    &__cart{
        width: 10rem;
        height: auto;
        border: 0.1rem solid black;

        bottom: 44rem;
        left: 61rem;
        display: flex;
        flex-direction: column;
        &__course{
            border: 0.1rem solid black;
            &__name{
                color: black;
            }
            &__price{
                color: black;
            }
            &__removeBtn{
                width: 1rem;
                height: 1rem;
                background-color: red;
            }  
        }
    }
}

.cart {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
    i{

        color:gold;
        font-size: 2rem;
    }
}