* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    position: relative;
    background-color: wheat;
}

.container-customer {
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin: 0;


    &__title {
        width: 150px;
        margin: 25px auto;
        font-size: 5em;
        color: rgb(7, 6, 6);

    }

    &__searchBox {
        padding: 10px 20px;
        width: 50%;
        margin: auto;

        border: none;
        border-radius: 15px;
        font-size: 1.5rem;
        background-color: rgba(0, 0, 0, 0.808);
        color: white;
    }


    &__restaurant-root {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 25px;
        text-align: center;
        flex-wrap: wrap;
    }

    &__restaurant-card {
        box-shadow: 0.4px 1px 10px 2px rgba(0, 0, 0, 0.616),
            -0.4px 1px 15px 2px inset rgba(255, 255, 255, 0.384);
        overflow: hidden;
        height: 350px;
        width: 350px;
        border: 1px solid black;
        ;
        border-radius: 15px;
        font-size: 1.5rem;
        margin-top: 0.7rem;
    }

    &__title-restaurant {
        margin: 5px;
        text-transform: capitalize;
        font-size: 1.5rem;
    }

    &__img-restaurant {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    &__btn-restaurant {
        font-weight: 700;
        background-color: sandybrown;
        text-transform: uppercase;
        cursor: pointer;
        margin: 10px;
        outline: none;
        border-radius: 15px;
        border: none;
        padding: 7px 14px;

        &:hover {
            scale: 1.09;
        }
    }


    &__menu {
        display: none;
        background-color: rgb(155, 141, 141);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50vw;
        height: 50vh;
    
    }
    &__menu-close{
        cursor: pointer;
        position: absolute;
        right: 15px;
        top: 7px;
        font-size: 2rem;
        background: inherit;
        border: none;
        &:hover{
            color: white;
        }
    }

    &__container-courses{
        padding: 20px;
        width: 100%;
        height: 100%;
        background-color: darkgray;
            display: flex;
            flex-wrap: wrap;
            gap: 15px;

    }
    &__courses-card{
        overflow: hidden;
        border-radius: 15px;
        cursor: pointer;

        width: 150px;
        background-color: rgba(24, 24, 24, 0.418);
        height: 300px;

        &:hover{
            scale: 1.05;
        }
    }
    &__courses-img{
        width: 150px;
        height: 150px;
        object-fit: cover;
    }
    &__courses-card-name{
        font-size: 20px;
        font-weight: 700;
        text-transform: capitalize;
    }

    &__courses-des{
        margin: 5px;
    }
    &__courses-btn{
        border-radius: 15px;
        padding: 10px 20px;
        margin: 5px;
        width: 100px;
        cursor: pointer;
        border: none;
        box-shadow: 0.4px 1px 0px 2px rgba(0, 0, 0, 0.616),
        -0.4px 1px 15px 1px inset rgba(255, 255, 255, 0.384);
        outline: none;
        background-color: rgba(255, 255, 255, 0.158);
        &:hover{
   
            box-shadow: 0.4px 1px 10px 2px rgba(0, 0, 0, 0.616),
            -0.4px 1px 15px 2px inset rgba(255, 255, 255, 0.384);
        }

        i{
            font-size: 1.4rem;
            color: rgb(19, 14, 14);
        }
    }
    &__cart{
        width: 10rem;
        height: auto;
        border: 0.1rem solid black;
        position: sticky;
        bottom: 44rem;
        left: 61rem;
        display: flex;
        flex-direction: column;
        &__course{
            border: 0.1rem solid black;
            &__name{
                color: black;
            }
            &__price{
                color: black;
            }
            &__removeBtn{
                width: 1rem;
                height: 1rem;
                background-color: red;
            }  
        }
    }
}

