* {
	padding: 0;
	margin: 0;
	color: #fff;
	box-sizing: border-box;
}

.container-courier {
	background-image: url("./../img/background-login.jpg");
	width: 100vw;
	height: 100vh;
	font-size: 16px;
	background-color: rgb(250, 250, 250);
	color: black;
	display: flex;
	text-align: center;
	flex-direction: column;

	.header {
		background-color: rgb(12, 12, 12);
		text-align: center;
		padding: 10px 20px;

		&__navbar {
			margin: 15px;

		}

		&__list {
			display: flex;
			justify-content: space-around;
			align-items: center;
			text-align: center;
		}

		&__link {
			font-size: 1.4rem;
			list-style: none;

			&:hover {
				scale: 1.1;
				text-decoration: underline;
			}

			a {
				text-decoration: none;



			}
		}
	}

	.main {
		color: black;

		&__order-title {
			color: black;
			text-align: center;
			padding: 10px 20px;
		}

		&__order {
			overflow: hidden;
			display: flex;
			flex-wrap: wrap;
			min-height: 250px;
			min-width: 100vw;
		}

		&__active{
			overflow: hidden;
			display: flex;
			flex-wrap: wrap;
			min-height: 250px;
			min-width: 100vw;
		}

		&__drop{
			background-color: #f19204ec;
			text-transform: capitalize;
			padding: 10px 20px;
			border: 2px solid black;
			margin: 10px;
			width: 200px;
			height: 250px;
		}

		&__active-card {
			background-color: #f19204ec;
			text-transform: capitalize;
			padding: 10px 20px;
			border: 2px solid black;
			margin: 10px;
			width: 200px;
			height: 250px;

			h1 {
				font-weight: 100;
				font-size: 1rem;
				margin: 5px;
			}

			h3 {
				margin: 3px;
				font-size: 0.9rem;
			}

			button {
				outline: none;
				cursor: pointer;
				border-radius: 15px;
				font-weight: 700;
				color: black;
				text-transform: uppercase;
				margin-top: 10px;
				padding: 10px 15px;

				&:hover {
					scale: 1.069;
				}

				&:active {
					scale: 0.99;
				}
			}


		}

		&__order-title {
			background-color: #c28223;
		}

		&__active-title {
			background-color: #2a8f26;
		}

		&__drop-title {
			background-color: #e9571d;
		}
	}



}

.pick-up-btn,
.finish-btn {
	background-color: #333;
	border: none;
	padding: 5px 10px;
	margin-top: 10px;
	cursor: pointer;
}