*{
padding: 0;
margin: 0;
}
body{
    position: relative;
    background-color: azure;
}

#delieveryPool{
    text-align: center;
    display: flex;
    flex-direction: column;
}
#orderWrapper{
    max-width: 450px;
    max-height: 450px;
    border: 1px solid greenyellow;
}